@charset "UTF-8";
/* main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

 
body {
	font-family: 'Roboto', sans-serif;
	background-color: #F6EAEA;
}

/* home page css */
#header {
	position: relative;
	display: block; 
	text-align: center;
	margin-top: 10%;
	font-size: 2em;
}
.nav {
	text-align: center;
	border: 1px solid black;
}
.nav.about-button {
	
}
.nav .about-button img {
	width: 15%;
	height: auto;
	display: inline-block;	
}
.nav .projects-button img {
	width: 15%;
	height: auto;
	display: inline-block;	
}
.nav .photos-button img {
	width: 15%;
	height: auto;
	display: inline-block;	
}
.nav .contact-button img {
	width: 15%;
	height: auto;
	display: inline-block;	
}
.nav .resume-button img {
	width: 15%;
	height: auto;
	display: inline-block;	
}


/* navigation på undersider */
.top-navigation img {
	float: right;
}
.top-navigation li {
	list-style: none;
	display: inline;
}
.top-navigation .top-menu img {
	width: 10%;
	height: auto;
	display: inline-block;
}


/* about me css */
div.about-gallery {
	width: 90%;
	height: auto;
    float: left;
	padding: 5%;
}
div.image-container img {
	width: 30%;
	height: auto;
	margin-right: 5%;
	float: left;
}
div.about-me {
	display: inline-block;
	width: 50%;
	padding: 5%;
	line-height: 180%;
	
}

/* projects css */


div.gallery {
	width: 90%;
	height: auto;
    float: left;
	padding: 5%;
}
div.gallery img {
	width: 50%;
	height: auto;
	margin-right: 5%;
}

div.portfolio-image img {
	float: left;
}
div.portfolio-description {
	display: inline-block;
	width: 30%;
	padding: 5%;
	line-height: 180%;
}
div.photoshop-description {
	display: inline-block;
	width: 30%;
	padding: 5%;
	line-height: 180%;
}
div.photoshop-image img {
	float: right;
}

/* photos css */
div.gallery-photo {
	width: 95%;
	height: auto;
	float: left;
	margin: 1%;
}
div.convention-description {
	width: 30%;
	padding: 5%;
	display: inline-block;
}
div.convention-pic {
	width: 55%;
	float: right;
}
div.convention-pic img {
	width: 40%;
	height: auto;
	float: right;
	padding: 1%;
}
div.nature-description {
	width: 30%;
	padding: 5%;
	display: inline-block;
	float: right;
}
div.nature-pic {
	width: 50%;
	float: left;
}
div.nature-pic img {
	width: 40%;
	height: auto;
	padding: 1%;
	float: left;
}
div.travel-description {
	width: 30%;
	padding: 5%;
	display: inline-block;
}
div.travel-pic {
	width: 50%;
	float: right;
}
div.travel-pic img {
	width: 40%;
	height: auto;
	float: right;
	padding: 1%;
}
