@charset "UTF-8";
/* main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

 
body {
	font-family: 'Roboto', sans-serif;
	background-color: #F6EAEA;
}
p {
	font-size: 120%;
}
h4 {
	font-size: 140%;
}

/* home page css */
#header {
	position: relative;
	display: block; 
	text-align: center;
	margin-top: 10%;
	font-size: 2em;
}
.nav {
	text-align: center;
}
.nav .about-button img {
	width: 15%;
	height: auto;
	display: inline-block; 
	position: relative;
	top: 100px;
}
.nav .projects-button img {
	width: 15%;
	height: auto;
	display: inline-block;
	position: relative;
	top: -20px;
}
.nav .photos-button img {
	width: 15%;
	height: auto;
	display: inline-block; 
	position: relative;
	top: 100px;
}
.nav .contact-button img {
	width: 15%;
	height: auto;
	display: inline-block;
	position: relative;
	top: -20px;
}
.nav .resume-button img {
	width: 15%;
	height: auto;
	display: inline-block;
	position: relative;
	top: 100px;
}


/* navigation på undersider */
.top-navigation img {
	float: right;
}
.top-navigation li {
	list-style: none;
	display: inline;
}
.top-navigation .top-menu img {
	width: 10%;
	height: auto;
	display: inline-block;
}
/* h1 overskrifter på undersider */
.overskrift1 {
	display: inline-block;
	width: 20%;
	font-size: 3em;
	margin-left: 5%;
	padding: 1%;
}
/* about me css */
div.about-gallery {
	width: 90%;
	height: auto;
    float: left;
	padding: 5%;
}
div.image-container img {
	width: 30%;
	height: auto;
	margin-right: 5%;
	float: left;
	border: 1px solid black;
	border-radius: 5%;
}
div.about-me {
	display: inline-block;
	width: 50%;
	padding-left: 5%;
	line-height: 180%;
}

/* projects css */
div.gallery {
	width: 98%;
	height: auto;
    float: left;
	padding: 0%;
	margin: 1%;
}
div.gallery img {
	width: 50%;
	height: auto;
	margin-right: 0%;
	padding: 1%;
}
div.portfolio-image img {
	float: left;
	
}
div.portfolio-description {
	display: inline-block;
	width: 30%;
	line-height: 180%;
	padding: 1%;
	padding-left: 3%;
}
div.photoshop-description {
	display: inline-block;
	width: 30%;
	line-height: 180%;
	padding: 1%;
	padding-left: 5%;
}
div.photoshop-image img {
	float: right;
}


/* photos css */
div.gallery-photo {
	width: 95%;
	height: auto;
	float: left;
	margin: 1%;
}
div.convention-description {
	width: 30%;
	padding: 1%;
	display: inline-block;
	padding-left: 5%;
	line-height: 180%;
}
div.convention-pic {
	width: 55%;
	float: right;
}
div.convention-pic img {
	width: 40%;
	height: auto;
	float: right;
	padding: 1%;
}
div.nature-description {
	width: 30%;
	padding: 1%;
	padding-left: 5%;
	line-height: 180%;
	display: inline-block;
	float: right;
}
div.nature-pic {
	width: 55%;
	float: left;
	padding-left: 4%;
}
div.nature-pic img {
	width: 40%;
	height: auto;
	padding: 1%;
	float: left;
}
div.travel-description {
	width: 30%;
	padding: 1%;
	padding-left: 5%;
	display: inline-block;
	line-height: 180%;
}
div.travel-pic {
	width: 50%;
	float: right;
}
div.travel-pic img {
	width: 40%;
	height: auto;
	float: right;
	padding: 1%;
}

/* Contact form css */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black; 
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%; 
}
input[type=submit] {
    background-color: #CCB2E2;
    color: black;
    padding: 2% 3%;
	font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #BD9CDA;
}
.container {
    padding: 2%;
	width: 50%;
	margin-left: 4%;
}

/* Resume css */
.resume-container {
	display: inline-block;
	width: 50%;
	line-height: 180%;
	margin-top: 1%;
	margin-left: 5%;
	padding: 1%;
}

.resume-text {
	font-size: 120%;
}
